#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &default_kscan;
        zmk,matrix_transform = &default_transform;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "default_kscan";
        diode-direction = "col2row";

        row-gpios = <&pro_micro 18 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 10 GPIO_ACTIVE_HIGH>;
        
        col-gpios = <&pro_micro 6 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 7 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 8 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 9 GPIO_ACTIVE_HIGH>;
    };

    default_transform: matrix_transform{
        compatible = "zmk,matrix-transform";
        rows = <5>;
        columns = <13>;

        map = <
            RC(0,00) RC(0,01) RC(0,02) RC(0,03) RC(0,04) RC(0,05)          RC(0,07) RC(0,08) RC(0,09) RC(0,10) RC(0,11) RC(0,12)
            RC(1,00) RC(1,01) RC(1,02) RC(1,03) RC(1,04) RC(1,05) RC(1,06) RC(1,07) RC(1,08) RC(1,09) RC(1,10) RC(1,11) RC(1,12)
            RC(2,00) RC(2,01) RC(2,02) RC(2,03) RC(2,04) RC(2,05) RC(2,06) RC(2,07) RC(2,08) RC(2,09) RC(2,10) RC(2,11) RC(2,12)
            RC(3,00) RC(3,01) RC(3,02) RC(3,03) RC(3,04) RC(3,05) RC(3,06) RC(3,07) RC(3,08) RC(3,09) RC(3,10) RC(3,11) RC(3,12)
            RC(4,00) RC(4,01) RC(4,02) RC(4,03) RC(4,04) RC(4,05) RC(4,06) RC(4,07) RC(4,08) RC(4,09) RC(4,10) RC(4,11) RC(4,12)
        >;
    };
};
